.primary-nav {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgb(255, 0, 0);
}

.prmary-nav ul {
  padding: 0;
  margin: 0;
}

.primary-nav li {
  display: inline;
}

.primary-nav a {
  display: inline-block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

.primary-nav a:hover {
  background: rgba(255,255,255,.3);
}

.boxup-crime-logo {
  float: left;
  margin: 0 0.7857em 0.7857em 0;
  width: auto;
  
}
